@model List<OrderRow>
@{
    ViewData["Title"] = "Index";
}

<h1>List of OrderRows</h1>
<hr />
<a asp-action="Create" type="button" class="btn btn-success">Create OrderRow</a>
<br />
<hr />
@ViewBag.msg @*Sending message to Administrator: for example removed product successfully*@
<br />
<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>OrderId</th>
            <th>ProductId</th>
            <th>Price</th>
            <th>GlutenFree</th>
            <th>Actions</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="@("ProductId" + item.Id)">
                <td>
                    <img src="~/pic/salami.jpg" width="25" height="25" />
                </td>
                @*<td><img src="~/pic/@(item.Id).jpg" /></td>*@
                <td>@item.OrderId</td>
                <td>@item.ProductId</td>
                <td>@item.Price</td>
                <td>@item.GlutenFree</td>
                <td>
                    <a asp-route-id="@item.Id" asp-action="Details" type="button" class="btn btn-info m-2">Details</a>
                </td>
                <td>
                    <a asp-route-id="@item.Id" asp-action="Edit" type="button" class="btn btn-warning m-2">Rename</a>
                </td>
                <td>
                    <a asp-route-id="@item.Id" asp-action="Remove" type="button" class="btn btn-danger m-2">Remove</a>
                </td>
            </tr>
        }
    </tbody>

</table>
